{% extends "base_generic.html" %}

{% block sidebar-author %}
    {% if perms.catalog.can_mark_returned %}
        <hr>
        <ul class="sidebar-nav">
            <li><a href="{% url 'author_update' author.id %}">Update author</a></li>
            <li><a href="{% url 'author_delete' author.id %}">Delete author</a></li>
        </ul>
    {% endif %}
{% endblock sidebar-author %}

{% block content %}
    <h1>Author: {{ author }}</h1>

    <p><strong>Last Name: </strong>{{ author.last_name }}</p> <!-- author detail link not yet defined -->
    <p><strong>First Name: </strong>{{ author.first_name }}</p>
    <p><strong>Date of birth: </strong>{{ author.date_of_birth }}</p>
    <p><strong>Date of death: </strong>{{ author.date_of_death }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Books:</h4>

        {% for book in author.book_set.all %}

            <p>{{ book }} (ISBN: {{ book.isbn }})</p>
        {% endfor %}

    </div>

{% endblock %}